<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>登陆兰迪BBS</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

          <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='cms/css/signin.css') }}" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <form class="form-signin" method="post" action="">
        <h2 class="form-signin-heading"><img src="/static/cms/images/logo.png" class="logo control"></h2>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label for="inputEmail" class="sr-only" >邮箱</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="请输入邮箱" required autofocus name='email'>
        <label for="inputPassword" class="sr-only" >密码</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="请输入密码" required name="password">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="1" name="remember"> 记住我
          </label>
            {% if message %}
                <p class="text-danger danger_warning" style="">{{ message }}.</p>
            {% endif %}
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">立即登陆</button>

      </form>

    </div> <!-- /container -->


  </body>
</html>