{% extends 'cms/cms_base.html' %}

{% block title %}
    修改密码
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}

{% block head %}
    <style>
        .form_pass {
            width: 300px;
        }

    </style>
    <script src="{{ url_for('static',filename='cms/js/resetpwd.js') }}"></script>
{% endblock %}

{% block main_content %}
    <form method="post" action="">
        <div class="form_pass">
            <div class="form-group ">
                <div class="input-group ">
                    <div class="input-group-addon">旧密码</div>
                    <input type="text" class="form-control" placeholder="请输入旧密码" name="oldpwd">
                </div>
            </div>
            <div class="form-group ">
                <div class="input-group ">
                    <div class="input-group-addon">新密码</div>
                    <input type="text" class="form-control " placeholder="请输入新密码" name="newpwd">
                </div>
            </div>
            <div class="form-group ">
                <div class="input-group ">
                    <div class="input-group-addon">确认新密码</div>
                    <input type="text" class="form-control " placeholder="请确认新密码" name="newpwd2">
                </div>
            </div>

            <button type="submit" class="btn btn-danger" id="submit">确认修改</button>

        </div>

    </form>
{% endblock %}